streamlit>=1.32
langchain>=0.2.11
langchain-community>=0.2.11
langchain-openai>=0.1.7
langchain-huggingface>=0.0.3
faiss-cpu>=1.7.4
sentence-transformers>=2.2.2
beautifulsoup4
requests
python-dotenv
youtube-transcript-api
PyPDF2
